*{
	margin:0;
	padding:0;

}
div.rect{
	position:absolute;
	width:120px;
	height:120px;
	background:red;
}
.rect:nth-of-type(1){
	top:20px;
	left:10px;
}
.rect:nth-of-type(2){
	top:190px;
	left:10px;
	z-index: 10;
}
.rect:nth-of-type(3){
	top:360px;
	left:10px;
}
div.running{
	position:absolute;
	top:530px;
	left:10px;
	width:95%;
	height:120px;
	border:1px solid #000;
}
body div.rects{
	position:absolute;
	width:120px;
	height:120px;
	background:red;
}
div.center{
	position: absolute;
	left:50%;
	width:3px;
	height:120px;
	background: blue;
	
}
div.button{
	position: absolute;
	top:700px;
	left:10px;
}
button{
	margin-left: 20px;
	height:25px;
	width:50px;
}
.rectr{
	position:absolute;
	width:120px;
	height:120px;
	background:red;
}
.wrapper{
	position: relative;
	top:800px;
	left:10px;
	border:1px solid #000;
	width:90%;
	height:600px;
	margin-bottom: 30px;
}